/*
    给不需要重命名的全局类名的样式
*/

/* 给歌词视图元素应用的样式 */
.amll-lyric-player {
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-width: 100%;
	color: var(--amll-lp-color, white);
	contain: strict;
	mix-blend-mode: plus-lighter;
	font-size: var(--amll-lp-font-size);
	font-weight: 600;
	font-family: SF Pro SC, SF Pro Display, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;

	--amll-lp-font-size: 28px;
	--amll-lp-supplementary-font-size: calc(var(--amll-lp-font-size)*.5);
	--amll-lp-secondary-font-size: calc(var(--amll-lp-font-size)*.42);

	@media screen and (min-width: 1320px) {
		& {
			--amll-lp-font-size: 38px;
			--amll-lp-line-height: 1.2105263158;
		}
	}

	@media screen and (min-width: 1680px) {
		& {
			--amll-lp-font-size: 50px;
			--amll-lp-line-height: 1.2;
		}
	}

	@media (min-width: 2000px) {
		& {
			--amll-lp-font-size: 72px;
			--amll-lp-line-height: 1.1947644444;
		}
	}


	@media screen and (max-width: 768px) {
		font-size: var(--amll-lp-font-size, max(8vw, 12px));
	}

	&.dom {
		--amll-lp-line-width-aspect: 0.8;
		--amll-lp-line-padding-x: 1em;
		--amll-lp-bg-line-scale: 0.7;
		user-select: none;
		box-sizing: content-box;
		z-index: 1;
		line-height: 1.2em;
	}

	&.dom-slim {
		--amll-lp-line-width-aspect: 0.8;
		--amll-lp-line-padding-x: 1em;
		--amll-lp-bg-line-scale: 0.7;
		overflow: hidden scroll;
		user-select: none;
		box-sizing: content-box;
		z-index: 1;
		line-height: 1.2em;
		min-height: 0;
		min-width: 0;

		&::-webkit-scrollbar {
			opacity: 0;
		}

		&:hover::-webkit-scrollbar {
			opacity: 1;
		}

		>* {
			content-visibility: auto;
			contain-intrinsic-size: 100% 2em;
		}
	}
}

@media screen and (max-width: 768px) {
	.amll-lyric-player {
		--amll-lp-line-width-aspect: 1;
		--amll-lp-line-padding-x: 0;
	}
}